body{
    margin: 0;
    padding:0 ;
    background-color:#f5f7fa ;
    font-family:  Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color:  #fff;
    width: 400px;
 padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08) ;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}
 label {
            font-size: 15px;
            margin-bottom: 8px;
            display: block;
            color: #444;
        }
        input{
            width: 100%;
       padding: 10px;
        border: 1px solid #dadada;
        border-radius: 6px;
        outline: none;
         transition: 0.2s;

        }
        input:focus{
             border-color: #3b82f6;
            box-shadow: 0 0 5px rgba(59,130,246,0.4);
        }

         button {
            width: 100%;
            margin-top: 15px;
            padding: 12px;
            background: #3b82f6;
            color: #fff;
            border: none;
            border-radius: 10px;
        }
        button:hover {
            background: #2563eb;
            cursor: pointer;
        }
        #result{
            margin-top: 20px;
            text-align: center;
            font-size: 2em;
            font-weight: 1000;
            color: #111827;

            
        }
        